* {
    font-family: 'Inter', sans-serif;
}

.fs-7 {
    font-size: 0.9rem;
}

.pengguna-kami::after {
    content: "";
    display: block;
    position: absolute;
    width: 70%;
    height: 3px;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(var(--bs-primary-rgb), 1);
    border-radius: 10px;
}

.btn-outline-primary:hover {
    color: rgb(var(--bs-body-color-rgb)) !important;
    filter: brightness(1.1);
}

@media (min-width: 768px) {
    .w-md-25 {
        width: 25% !important;
    }
    .w-md-50 {
        width: 50% !important;
    }
    .w-md-75 {
        width: 75% !important;
    }
    .border-md-end {
        border-right: solid 1px;
    }
    .ms-250px {
        margin-left: 250px !important;
    }
}

@media (min-width: 992px) {
    .w-lg-25 {
        width: 25% !important;
    }
    .w-lg-40 {
        width: 40% !important;
    }
    .w-lg-50 {
        width: 50% !important;
    }
    .w-lg-75 {
        width: 75% !important;
    }

    .border-lg-end {
        border-right: solid 1px;
    }
}
